Original Release/ImageWallWP7/Service References/ImageWallServiceReference/ImageWallService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ImageWallService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ImageWallService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.team95.host25.com/ImageWallService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://www.team95.host25.com/ImageWallService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ImageDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Tags" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlThumbnail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageDetails" nillable="true" type="tns:ImageDetails" />
  <xs:complexType name="ImagePartUploadResult">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Error" nillable="true" type="q2:Exception" />
      <xs:element minOccurs="0" name="HasError" type="xs:boolean" />
      <xs:element minOccurs="0" name="RecievedPart" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImagePartUploadResult" nillable="true" type="tns:ImagePartUploadResult" />
  <xs:complexType name="ArrayOfTagModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagModel" nillable="true" type="tns:TagModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTagModel" nillable="true" type="tns:ArrayOfTagModel" />
  <xs:complexType name="TagModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsPopular" type="xs:boolean" />
      <xs:element minOccurs="0" name="Size" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagModel" nillable="true" type="tns:TagModel" />
  <xs:complexType name="ArrayOfImageDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImageDetails" nillable="true" type="tns:ImageDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImageDetails" nillable="true" type="tns:ArrayOfImageDetails" />
</xs:schema>